body{
background-color:#094C3C;
backgroun-image:url(/static/images.png)
backgound-repeat-y:no-repeat;
color:#fff;
}
body*{
font-family:Ubuntu;
}

h1,h2,h3,h4,h5
{
font-family:cursive;
margin:0;
}

a,a:hover,a:visited{
color:#fff;
text-decoraton:none;
}